<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.npdevs.mnnitcentral.Netritva"></activity>
        <activity android:name="com.npdevs.mnnitcentral.CounterStrike" />
    </application>

</manifest>